---
- name: remove enterprise proxmox repositories
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop: "{{ remove_repos }}"

- name: add proxmox repository
  deb822_repository:
    name: proxmox
    types: deb
    uris: http://download.proxmox.com/debian/pve
    suites: trixie
    components:
      - pve-no-subscription
    signed_by: /usr/share/keyrings/proxmox-archive-keyring.gpg

- name: add ceph repository
  deb822_repository:
    name: ceph
    types: deb
    uris: http://download.proxmox.com/debian/ceph-squid
    suites: trixie
    components:
      - no-subscription
    signed_by: /usr/share/keyrings/proxmox-archive-keyring.gpg

- name: install packages
  ansible.builtin.apt:
    pkg: "{{ packages }}"
    state: present
    update_cache: yes
    install_recommends: false
  when: not ansible_check_mode

- name: create partition disk for ceph
  community.general.parted:
    device: /dev/nvme0n1
    number: 4
    part_start: "{{ ceph_part_start }}"
    part_end: "100%"
    label: gpt
    state: present
  when: not ansible_check_mode

- name: create cluster on master node
  ansible.builtin.command: pvecm create mycluster
  args:
    creates: /etc/pve/corosync.conf
  when: inventory_hostname == groups['cluster'][0]

- name: pause for 10 seconds
  ansible.builtin.pause:
    seconds: 10
  when: not ansible_check_mode

- name: join cluster on the nodes 2
  ansible.builtin.shell: |
    pvecm add "{{ hostvars['pve-01'].ansible_host }}" << EOF
    {{ pvepass }}
    yes
    EOF
  args:
    executable: /usr/bin/bash
    creates: /etc/pve/corosync.conf
  when: inventory_hostname == groups['cluster'][1]

- name: pause for 5 seconds
  ansible.builtin.pause:
    seconds: 5
  when: not ansible_check_mode

- name: join cluster on the nodes 3
  ansible.builtin.shell: |
    pvecm add "{{ hostvars['pve-01'].ansible_host }}" << EOF
    {{ pvepass }}
    yes
    EOF
  args:
    executable: /usr/bin/bash
    creates: /etc/pve/corosync.conf
  when: inventory_hostname == groups['cluster'][2]

- name: install ceph packages
  ansible.builtin.apt:
    pkg: "{{ ceph_packages }}"
    state: present
    update_cache: yes
    install_recommends: false
  when: not ansible_check_mode

- name: configure ceph
  ansible.builtin.command: pveceph init --network "{{ public_network }}"
  args:
    creates: /etc/pve/priv/ceph.client.admin.keyring
  when: inventory_hostname == groups['cluster'][0]

- name: pause for 5 seconds
  ansible.builtin.pause:
    seconds: 5
  when: not ansible_check_mode

- name: configure ceph monitor on node 1
  ansible.builtin.command: pveceph mon create
  args:
    creates: /etc/systemd/system/ceph-mon.target.wants/ceph-mon@pve*.service
  when: inventory_hostname == groups['cluster'][0]

- name: pause for 5 seconds
  ansible.builtin.pause:
    seconds: 5
  when: not ansible_check_mode

- name: configure ceph monitor on node 2
  ansible.builtin.command: pveceph mon create
  args:
    creates: /etc/systemd/system/ceph-mon.target.wants/ceph-mon@pve*.service
  when: inventory_hostname == groups['cluster'][1]

- name: pause for 5 seconds
  ansible.builtin.pause:
    seconds: 5
  when: not ansible_check_mode

- name: configure ceph monitor on node 3
  ansible.builtin.command: pveceph mon create
  args:
    creates: /etc/systemd/system/ceph-mon.target.wants/ceph-mon@pve*.service
  when: inventory_hostname == groups['cluster'][2]

- name: pause for 5 seconds
  ansible.builtin.pause:
    seconds: 5
  when: not ansible_check_mode

- name: configure ceph mamanger on node 2
  ansible.builtin.command: pveceph mgr create
  args:
    creates: /etc/systemd/system/ceph-mgr.target.wants/ceph-mgr@pve*.service
  when: inventory_hostname == groups['cluster'][1]

- name: pause for 5 seconds
  ansible.builtin.pause:
    seconds: 5
  when: not ansible_check_mode

- name: configure ceph manager on node 3
  ansible.builtin.command: pveceph mgr create
  args:
    creates: /etc/systemd/system/ceph-mgr.target.wants/ceph-mgr@pve*.service
  when: inventory_hostname == groups['cluster'][2]

- name: create ceph osd
  ansible.builtin.command: pveceph osd create "{{ ceph_osd_disk }}"
  args:
    creates: /run/systemd/system/ceph-osd.target.wants/ceph-osd@*.service

- name: check if mypool exists
  ansible.builtin.shell: ceph osd pool ls | grep "{{ pool_name }}"
  register: pool_check
  changed_when: false
  failed_when: false

- name: create ceph pools
  ansible.builtin.command: pveceph pool create "{{ pool_name }}" --add_storages
  when:
    - pool_check.stdout == ""
    - inventory_hostname == groups['cluster'][0]

- name: wait until ceph pools is created
  ansible.builtin.shell: ceph osd pool ls | grep "{{ pool_name }}"
  args:
    executable: /bin/bash
  register: pool_created
  until: pool_created.rc == 0
  retries: 10
  delay: 2
  changed_when: false

- name: create ceph mds
  ansible.builtin.command: pveceph mds create
  args:
    creates: /etc/systemd/system/ceph-mds.target.wants/ceph-mds@pve*.service

- name: check if cephfs exists
  ansible.builtin.shell: ceph fs ls | grep cephfs
  register: cephfs_check
  changed_when: false
  failed_when: false

- name: create cephfs
  ansible.builtin.command: pveceph fs create --pg_num 64 --add-storage
  when:
    - cephfs_check.stdout == ""
    - inventory_hostname == groups['cluster'][0]

- name: check if fs subvolume group exists
  ansible.builtin.shell: ceph fs subvolumegroup ls cephfs | grep kubernetes
  register: subvolume_check
  changed_when: false
  failed_when: false

- name: create fs subvolume group
  ansible.builtin.command: ceph fs subvolumegroup create cephfs kubernetes
  when:
    - subvolume_check.stdout == ""
    - inventory_hostname == groups['cluster'][0]

- name: check if mypool is set to autoscale
  ansible.builtin.shell: ceph osd pool autoscale-status --format json | jq -r '.[] | select(.pool_name=="mypool") | .pg_autoscale_mode=="on"'
  register: autoscale_check
  changed_when: false
  failed_when: false

- name: set mypool to autoscale
  ansible.builtin.command: ceph osd pool set {{ pool_name }} pg_autoscale_mode on
  when:
    - autoscale_check.stdout == "false"
    - inventory_hostname == groups['cluster'][0]

- name: create /var/lib/vz/snippets
  ansible.builtin.file:
    path: /var/lib/vz/snippets
    state: directory
    mode: '0755'
